div{
    margin:20% 0 0 30%;
    height: auto;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
}

form{
    
    padding: 5px;
    margin: 10px;
}
label{
    font-size: 14px;
    font-family: serif;
    width: 200px;
    text-align: left;
    margin: 10px;
}
input{

    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 4px;

}
input:hover{
    border: 1px solid rgb(238, 33, 33);
    border-radius: 8px;
    transition: 1s;

}
input[type="submit"]:hover{
    background-color: rgb(81, 194, 36);
    transition: 1s;

}
input[type="reset"]:hover{
    background-color: rgb(233, 25, 18);
    transition: 1s;
}

table{
    border: 1px solid black;
}